nav {

}
ul {
    list-style-type: none;
    width: max-content;
    margin: 0;
    padding: 0;
}
li {
    margin: 0;
}
a {
    color: #333;
    font-size: 20px;
    display: block;
    width: 100px;
    background-color: cadetblue;
    margin: 5px;
    padding: 10px;
    text-align: center;
    text-decoration: none;
}
button {
    width: 120px;
    padding: 10px;
    color: #333;
    font-size: 20px;
    cursor: pointer;
    background-color: thistle;
    margin: 5px;
    border: 0px;
}
.nav-inside {
    display: none;
}
.nav-div:hover .nav-inside {
    display: block;
}
.modal-div {
    width: 300px;
    background-color: yellowgreen;
    position: absolute;
    top: 100px;
    right: 50%;
    text-align: center;
}
.modal-div a {
    width: 100%;
    padding: 0;
    margin: 10px 0;
}
.modal-form {
	display: none;
}

.modal-form:target {
	display: block;
	position: fixed;
	top:0;
	left:0;
	right:0;
	bottom:0;
	opacity: 0.5;
	background-color: gray;
}

.form-body {
	display:none;
}
.modal-form:target + .form-body {
	display:block;
	position: fixed;
	top:55px;
	left:55px;
	right:55px;
	bottom:55px;
	background-color: lightblue;
    box-shadow: 2px 0 1 1px black; 
    text-align: center;
}