* {
    color: #333;
}
body {
    background-color: #ede7e3;
}
section {
    text-align: center; 
}
article {
    margin: 40px 0;
    background-color: rgba(255, 255, 255, .4);
}
.article-inside {
    width: 70vw;
    margin: 0 auto;
    padding: 20px 0;
}
a {
    text-decoration: none;
    color: #16697a;
}
.read-more {
    display: block;
    width: 100px;
    border: 2px solid #16697a;
    border-radius: 5px;
    margin: 0 auto;
}
